.triangle {
  width: var(--t-width);
  height: var(--t-height);
  position: absolute;
}

#t1, #t3 {
  top: var(--t-gap);
}

#t1,
#t4 {
  left: 0;
}

#t2,
#t5 {
  left: calc(var(--t-width) / 2 + var(--t-gap) * 4);
}

#t3,
#t6 {
  right: 0;
}

#t4,
#t6 {
  bottom: var(--t-gap);
}

#t5 {
  bottom: 0;
}
