.hint-message {
  border: 2px solid var(--text);
  background: var(--bg);
  color: var(--text) !important;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: min(85vw, 650px);
  button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
  }

  button:hover {
    cursor: pointer;
  }
}

.hint-message.rules {
  flex-direction: column;
  position: relative;
  

  h2 {
    color: var(--hub-color);
    margin: 0;
  }
  ul {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
    font-size: clamp(0.8rem, 2.5vw, 1.1rem);
    padding-left: 1.25rem;
    margin-bottom: 0.15rem;
    li {
      text-align: left;
      margin-bottom: 0.15rem;
      b {
        color: var(--hub-color);
      }
    }
  }

  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
