.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  p {
    font-size: 1.2rem;
  }
  svg.lucide-github {
    color: #6cc644;
  }
  svg.lucide-linkedin {
    color: #0a66c2;
  }
  svg:active,
  svg:focus {
    outline: none;
  }
  svg:hover {
    cursor: pointer;
  }
  svg > text {
    display: none;
  }
}
