#puzzle {
  width: calc(var(--t-width) * 2 + (var(--t-gap) * 8));
  height: calc(var(--t-height) * 2 + (var(--t-gap) * 2));
  position: relative;
}

#puzzle.portrait {
  .buttons {
    position: fixed;
    left: 0;
    top: 0.5rem;
  }
}
