.bubble {
  width: var(--bubble-size);
  height: var(--bubble-size);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  svg.lucide {
    position: relative;
    height: 20%;
    color: var(--text-2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

.bubble:hover svg.lucide {
  opacity: 1;
}

#hub {
  --hub-size: calc(var(--bubble-size) * 1.2);
  height: var(--hub-size);
  width: var(--hub-size);
  left: calc(50% - var(--hub-size) / 2);
  top: calc(50% - var(--hub-size) / 2);
}

#b1 {
  top: calc(50% - var(--bubble-size) / 2);
  left: calc(var(--bubble-size) / -2);
}
#b2 {
  top: calc(var(--bubble-size) / -2);
  left: calc(var(--t-width) / 2 - var(--bubble-size) / 2);
}
#b3 {
  top: calc(var(--bubble-size) / -2);
  right: calc(var(--t-width) / 2 - var(--bubble-size) / 2);
}
#b4 {
  top: calc(50% - var(--bubble-size) / 2);
  right: calc(var(--bubble-size) / -2);
}
#b5 {
  right: calc(var(--t-width) / 2 - var(--bubble-size) / 2);
  bottom: calc(var(--bubble-size) / -2);
}
#b6 {
  left: calc(var(--t-width) / 2 - var(--bubble-size) / 2);
  bottom: calc(var(--bubble-size) / -2);
}
